body,html{
    height: 100%;
    margin: 0;
    /* background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
}
span{
    color: grey;
}
.chat{
    margin-top: auto;
    margin-bottom: auto;
}
.card{
    height: 100vh; 
    border-radius: 15px !important;
    background-color: rgba(255,255,255,0.98) !important;

    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    background-color: rgba(0, 130, 187, 0.98) !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background-color: rgba(0,0,0,.00);
}
.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
    background-color: rgba(0,0,0,0.0) !important;
    border:1 !important;
    color:black !important;
    height: 60px !important;
    overflow-y: auto;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn{
border-radius: 0 5px 5px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.active{
    background-color: rgba(0,0,0,0.3);
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.offline_icon{
background-color: #c23616 !important;
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 5px;
background-color: #ededed;
padding: 10px;
position: relative;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 5px;
background-color: #0082bb;
padding: 10px;
position: relative;
color: #fff;
}
.msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: rgba(0,0,0,0.5);
font-size: 10px;
min-width: 80px;
}
.msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: rgba(0,0,0,0.5);
font-size: 10px;
min-width: 80px;
text-align: right;
}
.msg_head{
position: relative;
}
#action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.alert-panel {
    background-color: #c23616;
    color: #f5f6fa;
    padding: 3px;
    font-size: 14px;
    text-align: center;
}
.alert-panel-success {
    background-color: #11df45;
    color: #f5f6fa;
    padding: 3px;
    font-size: 14px;
    text-align: center;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
.right-icons{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 20px;
}
.right-icons span{
    cursor: pointer;
    color: white;
}
.form-div {
    border: 1px solid #e9edef;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: rgba(99, 96, 96, 0.5) 1px 1px;
}
.form-div div{
    margin-top: 10px;
}
.form-div div ul{
    list-style-type: none;
    padding-left: 0px;
}
.form-div div ul li{
    margin-bottom: 10px;
    background-color: #f7f7f7;
    padding: 10px;
}
.form-div div ul li h5{
    color: #0082bb;
    font-size: 16px;
    margin-bottom: 0px;
}
.form-list ul{
    list-style-type: none;
    padding-left: 0px;
}
.form-list ul li{
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-bottom: #e9edef 1px solid;
}
.form-list ul li:hover{
    background-color: #e9edef;
}

@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}

.doHide{
    display: none;
}
.mid-center-div{
    height: 100%;
    width: 100%;
    text-align: center;

    display: grid;
    align-items: center;
}
.mid-center-div h5{
    font-size: 14px;
    display: block;
    padding: 5px 32px;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 8px;

    width: 100%;
}
.width-45 {
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
}
.pull-right {
    float: right;
}
.width-40 {
    width: 40% !important;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc;
    border-bottom: none; */
  }
  
  /* Style the close button */
  .topright {
    float: left;
    cursor: pointer;
    font-size: 28px;
  }
  
  .topright:hover {color: red;}

  /* END Style for the tab */

  /* Style the Accordion */
  .transition, .accordion li p, .accordion li i:before, .accordion li i:after {
    transition: all 0.25s ease-in-out;
  }
  
  .flipIn, .accordion li {
    animation: flipdown 0.5s ease both;
  }
  
  .accordion li p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
  }
  
  .accordion {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  .accordion li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 0px;
    border-top: 1px dotted #dce7eb;
    animation-delay: 0.5s;
  }

  /* .accordion li:nth-of-type(1) {
    animation-delay: 0.5s;
  }
  .accordion li:nth-of-type(2) {
    animation-delay: 0.75s;
  }
  .accordion li:nth-of-type(3) {
    animation-delay: 1s;
  } */
  .accordion li:last-of-type {
    padding-bottom: 0;
  }
  .accordion li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 10px;
  }
  .accordion li i:before, .accordion li i:after {
    content: "";
    position: absolute;
    background-color: #0082bb;
    width: 3px;
    height: 9px;
  }
  .accordion li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  .accordion li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  .accordion li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  .accordion li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  .accordion li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  .accordion li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }

  .accordion li button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }
  
  /* End Style for the Accordion */

   /* Start Style for the Language Dropdown */

    #languagedropdown {
        width: 70px;
        position: relative;
        font-size: 11px;
        top: -3px;
        background-color: #0082bb;
        color: #ffffff;
        border-color: #ffffff;
        margin-left: 5px;
    }
    #languagedropdown:hover option:nth-child(1) {
        border-radius: 20px 20px 0 0;
    }
    #languagedropdown option {
        opacity: 0;
        width: 100%;
        border-style: none;
        background: #f5f5f5;
        padding: 5px;
        outline: none;
        cursor: pointer;
        pointer-events: none;
    }
    #languagedropdown option:hover {
        border: 1px solid #e0e0e0;
    }
    #languagedropdown option:nth-child(1) {
        opacity: 1;
        pointer-events: auto;
        cursor: auto;
        border-radius: 20px;
    }
    #languagedropdown option:last-child {
        border-radius: 0 0 20px 20px;
    }
    #languagedropdown:hover option {
        opacity: 1 !important;
        pointer-events: auto;
    }

   /* Stop Style for the Language Dropdown */